@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");

body {
  font-family: "Kaushan Script", cursive;
  background: #fff;
  color: #000;
}
/* global styles */
.btn-pink {
  color: #ef7998 !important;
  border-color: #ef7998 !important;
}
.btn-black {
  color: #000 !important;
  border-color: #000 !important;
}
.btn-black:hover {
  color: #ef7998 !important;
  background: #000 !important;
}
.btn-pink:hover {
  color: #000 !important;
  background: #ef7998 !important;
}

/* nav links */
.navbar-toggler {
  outline: none !important;
}
.toggler-icon {
  font-size: 2.5rem;
  color: #ef7998;
}
.nav-link {
  color: #ef7998;
  transition: 1s all ease-in-out;
  font-size: 1.5rem;
}
.nav-link:hover {
  color: #000;
}
.cart-info-icon {
  color: #000;
  cursor: pointer;
}
.cart-info {
  border: 0.1rem solid #000;
  border-radius: 0.25rem;
  color: #000;
  padding: 0.4rem 0.6rem;
  cursor: pointer;
}
.cart-info:hover {
  background-color: #ef7998;
  color: #fff;
  cursor: pointer;
}
.cart-info:hover .cart-info-icon {
  color: #fff;
}
.max-height {
  min-height: calc(100vh - 76px);

  background: linear-gradient(
      rgba(249, 228, 148, 0.5),
      rgba(249, 228, 148, 0.5)
    ),
    url("../img/headerBcg.jpeg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
}
.banner {
  color: #fff;
  margin-top: -64px;
  margin-top: -4rem;
}
.banner-title {
  color: #ef7998;
  font-size: 64px;
  font-size: 4rem;
}
.banner-link {
  font-size: 24px;
  font-size: 1.5rem;
  color: #000;
  border: 3.2px solid #000;
  border: 0.2rem solid #000;
}
.banner-link:hover {
  background: #000;
  color: #ef7998;
}
.about-img-container {
  position: relative;
}
.about-img-container::before {
  content: "";
  position: absolute;
  top: -1.5rem;
  left: -1.7rem;
  outline: 0.5rem solid rgb(249, 228, 148);
  width: 100%;
  height: 100%;
  z-index: -2;
  transition: all 2s ease-in-out;
}
.about-img-container:hover::before {
  left: 0;
  top: 0;
}
.store {
  background-color: #ccc;
}
.search-box {
  background-color: #ef7998;
  color: #000;
}
.single-item {
  transition: all 0.3 linear;
}
.single-item:hover {
  box-shadow: 0 10px 15px rgb(0, 0, 0);
}
.img-container {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.store-img {
  transition: all 1s ease-in-out;
}
.img-container:hover .store-img {
  transform: scale(1.3);
}
.store-item-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.75rem;
  background-color: rgb(249, 228, 148);
  border-top-left-radius: 1rem;
  transition: all 1s ease-in-out;
  transform: translate(100%, 100%);
}

.img-container:hover .store-item-icon {
  transform: translate(0, 0);
}
.store-item-icon:hover {
  color: #fff;
}
.services {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../img/servicesBcg.jpeg") center/cover fixed no-repeat;
}
.services-title {
  letter-spacing: 0.2rem;
}
.services-text {
  word-spacing: 0.5rem;
}
.footer-title {
  background-color: black;
}
.footer-icon {
  font-size: 1.5rem;
  color: #fff;
}
.footer-icon:hover {
  color: #ef7998;
}
.footer-contact {
  background-color: #eee;
}
